{
  "semi": true,                    
  "trailingComma": "none",        
  "singleQuote": true,            
  "printWidth": 80,               
  "tabWidth": 2,                  
  "bracketSpacing": true,         
  "jsxSingleQuote": false,        
  "jsxBracketSameLine": false,    
  "arrowParens": "always",        
  "endOfLine": "auto"             
}